<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--<add key="loginserver" value="192.168.15.1" />-->
    <add key="loginserver" value="localhost" />
   	  <add key="TelnetAddress" value="192.168.15.161" />
   	  <add key="TelnetPort" value="8023" />
   	
      <add key="sgatelocname" value="sgatein1" /> 
      <add key="sgatecaptureexefile" value="capture silent.vbs" />
      <add key="capturefile" value="capture\capture.jpg" />

   	  <add key="eorheaderline1" value="PT.INTERCON INTERNATIONAL TERMINAL" />
   	  <add key="eorheaderline2" value="Depo Container" />
   	  <add key="eorheaderline3" value="Jl. 1" />
   	  <add key="eorheaderline4" value="Jakarta 14120" />
   	  <add key="eorheaderline5" value="Tlp. (021) 8888888" />

      <add key="pagesetup" value="Y" />
      <add key="preview" value="Y" />


   	  <add key="invoiceprint.mode" value="1" />
   	  <add key="invoiceprint.linetogo" value="31" />
   	  <add key="invoiceprint1.linetogo" value="25" />
   	  <add key="invoiceprint.lokasi" value="Jakarta" />
   	  <add key="invoice.noprefix" value="JAK" />

   	  <add key="bonbongkarprint.mode" value="1" />
   	  <add key="bonmuatprint.mode" value="1" />
   	  <add key="orinprint.mode" value="1" />
   	  <add key="oroutprint.mode" value="1" />

   	  <add key="eirinprint.left" value="0" />
   	  <add key="eirinprint.top" value="0" />
   	  <add key="eiroutprint.left" value="0" />
   	  <add key="eiroutprint.top" value="10" />
	
   	  <add key="bonbongkarprint.left" value="0" />
   	  <add key="bonbongkarprint.top" value="0" />

   	  <add key="orinprint.left" value="0" />
   	  <add key="orinprint.top" value="0" />

   	  <add key="bonmuatprint.left" value="0" />
   	  <add key="bonmuatprint.top" value="0" />

   	  <add key="oroutprint.left" value="0" />
   	  <add key="oroutprint.top" value="0" />
	
   	  <add key="trkpengajuanprint.left" value="0" />
   	  <add key="trkpengajuanprint.top" value="0" />

   	  <add key="trkpenyelesaianprint.left" value="0" />
   	  <add key="trkpenyelesaianprint.top" value="0" />
	
	</appSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>